
<div>
  <button style="margin-bottom: 10px;" mat-raised-button color="accent" (click)="openDialog()">Add Event</button>

  </div>






                  <!--------------------------Input property---------------------------->




                  <!--------------------------------------------------------------------->

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="idEvent">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> idEvent </th>
          <td mat-cell *matCellDef="let row"> {{row.idEvent}} </td>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="nom">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> nom </th>
          <td mat-cell *matCellDef="let row"> {{row.nom}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> description </th>
          <td mat-cell *matCellDef="let row">{{row.description}} </td>
        </ng-container>

        <!-- Fruit Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> date </th>
          <td mat-cell *matCellDef="let row"> {{row.date}} </td>
        </ng-container>


        <ng-container matColumnDef="lieu">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> lieu</th>
          <td mat-cell *matCellDef="let row"> {{row.lieu}} </td>
        </ng-container>

        <ng-container matColumnDef="artiste">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> artiste</th>
          <td mat-cell *matCellDef="let row"> {{row.artiste}} </td>
        </ng-container>

        


        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions</th>
          <td mat-cell *matCellDef="let row">
            <<div>
              <button (click)="editEvenement(row)" mat-icon-button color="primary">
                <mat-icon>edit</mat-icon>
              </button>
              
              <button (click)="deleteEvenement(row.idEvent)" mat-icon-button color="warn">
                <mat-icon>delete</mat-icon>
              </button>
            </div>


          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

     
      </table>


    </div>


